.row
  .col.s10
    .input-field.col.s12
      input.validate.edit-data-field(type="text" value="{{value}}")
      label.active(for="edit-data-field") {{name}}
  .col.s2
    a.waves-effect.waves-light.btn.save-data-field-button
      i.mdi-content-save
