#content.page-container.container
  #title_row.row
    .col.s12
      #page_menu.pull-right
  .row
    if hasNoTasks
      .col.s12.center-align
        p Все задачи выполнены, так держать!
    else
      each this
        .col.s12.m12.l6
          +singleFlowIns
