#content.page-container
  #title_row.row
    .col.s12
      #page_menu.pull-right
  .row
    if hasNoTasks
      .col.s12.center-align
        p Все задачи выполнены, так держать!
    else
      each this.currentFlows
        .col.s12.m6.l4
          +singleFlowIns
  .row
    h4.center-align Задачи в будущем
  .row
    each this.futureFlows
      .col.s12.m6.l4
        +singleFlowIns
