
head
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(rel="icon" sizes="16x16 32x32" href="/favicon.ico?v=2")
  title
    | AirFlows

template(name="layout")
  +if currentUser
    +PrivateLayout
  else
    +PublicLayout
  main
    +yield
  footer.page-footer.teal.darken-4
    .container
      .row
        .col.l6.s12
          h5.white-text 
          ul
            li 
              h5.grey-text.text-lighten-4 О сервисе
            li
              span.grey-text.text-lighten-4 AirFlows - самая простая система для управления бизнес-процессами. Занимайтесь тем, что приносит пользу клиентам - а не тушением пожаров.
        .col.l4.offset-l2.s12
          h5.white-text
    .footer-copyright
      .container
        | © 2015 AirFlows
        a.grey-text.text-lighten-4.right(href="#!") 
        
template(name="PublicLayout")
  header(id="wrap")
    nav.teal.darken-4
      .nav-wrapper.container.teal.darken-4
        a.brand-logo(href="{{pathFor 'home_public'}}") 
          span AirFlows
          span.beta-title beta
        a.button-collapse(href="#" data-activates="mobile-demo")
          i.mdi-navigation-menu
        ul.right.hide-on-med-and-down
          li
            a(href="{{pathFor 'home_public'}}") Главная
          li
            a(href="{{pathFor 'login'}}") Войти
          li.deep-orange.accent-3
            a(href="{{pathFor 'register'}}") Попробовать бесплатно
        ul#mobile-demo.side-nav
          li
            a(href="{{pathFor 'home_public'}}") Главная
          li
            a(href="{{pathFor 'login'}}") Войти
          li.deep-orange.accent-3
            a(href="{{pathFor 'register'}}") Попробовать бесплатно


template(name="PrivateLayout")
  header(id="wrap")
    nav.teal.darken-4
      .nav-wrapper.container.teal.darken-4
        a.brand-logo(href="{{pathFor 'tasks'}}")
          span AirFlows
          span.beta-title beta
        a.button-collapse(href="#" data-activates="mobile-demo")
          i.mdi-navigation-menu
        ul.right.hide-on-med-and-down
          li
            a(href="{{pathFor 'tasks'}}") Мои задачи
          li
            a(href="{{pathFor 'execute'}}") Процессы
          li
            a(href="{{pathFor 'entitiesList'}}") Статус
          li
            a(href="{{pathFor 'accountRoles'}}") Роли
          //- li
          //-   a(href="{{pathFor 'user_settings'}}") Настройки
          li
            a(href="{{pathFor 'logout'}}") Выйти
        ul#mobile-demo.side-nav
          li
            a(href="{{pathFor 'tasks'}}") Мои задачи
          li
            a(href="{{pathFor 'execute'}}") Процессы
          li
            a(href="{{pathFor 'entitiesList'}}") Статус
          li
            a(href="{{pathFor 'accountRoles'}}") Роли
          //- li
          //-   a(href="{{pathFor 'user_settings'}}") Настройки
          li
            a(href="{{pathFor 'logout'}}") Выйти
  
