
head
  meta(name="viewport" content="width=device-width, initial-scale=1")
  title
    | Airflows

template(name="layout")
  +if currentUser
    +PrivateLayout
  else
    +PublicLayout

template(name="PublicLayout")
  header(id="wrap")
    nav
      .nav-wrapper.container
        a.brand-logo(href="#!") Airflows
        a.button-collapse(href="#" data-activates="mobile-demo")
          i.material-icons Меню
        ul.right.hide-on-med-and-down
          li
            a(href="{{pathFor 'home_public'}}") Home
          li
            a(href="{{pathFor 'register'}}") Register
          li
            a(href="{{pathFor 'login'}}") Login
          ul#mobile-demo.side-nav
            li
              a(href="{{pathFor 'home_public'}}") Home
            li
              a(href="{{pathFor 'register'}}") Register
            li
              a(href="{{pathFor 'login'}}") Login
  main
    +yield
  footer.page-footer
    .container
      .row
        .col.l6.s12
          h5.white-text Footer Content
          p.grey-text.text-lighten-4 You can use rows and columns here to organize your footer content
        .col.l4.offset-l2.s12
          h5.white-text Links
    .footer-copyright
      .container
        © 2014 Copyright Text
        a.grey-text.text-lighten-4.right(href="#!") More Links

template(name="PrivateLayout")
  header(id="wrap")
    nav
      .nav-wrapper.container
        a.brand-logo(href="#!") Airflows
        a.button-collapse(href="#" data-activates="mobile-demo")
          i.material-icons Меню
        ul.right.hide-on-med-and-down
          li
            a(href="{{pathFor 'tasks'}}") Задачи
          li
            a(href="{{pathFor 'execute'}}") Запустить
          li
            a(href="{{pathFor 'flows'}}") Процессы
          li
            a(href="{{pathFor 'entitiesList'}}") Сущности
          li
            a(href="{{pathFor 'user_settings'}}") Settings
          li
            a(href="{{pathFor 'logout'}}") Logout
          ul#mobile-demo.side-nav
            li
              a(href="{{pathFor 'tasks'}}") Задачи
            li
              a(href="{{pathFor 'execute'}}") Запустить
            li
              a(href="{{pathFor 'flows'}}") Процессы
            li
              a(href="{{pathFor 'entitiesList'}}") Сущности
            li
              a(href="{{pathFor 'user_settings'}}") Settings
            li
              a(href="{{pathFor 'logout'}}") Logout
  main
    +yield
  footer.page-footer
    .container
      .row
        .col.l6.s12
          h5.white-text Footer Content
          p.grey-text.text-lighten-4 You can use rows and columns here to organize your footer content
        .col.l4.offset-l2.s12
          h5.white-text Links
    .footer-copyright
      .container
        © 2014 Copyright Text
        a.grey-text.text-lighten-4.right(href="#!") More Links
