div(class="page-container container" id="content")
  div(class="row" id="title_row")
    div(class="col-md-12")
      div(id="page_menu" class="pull-right")
        .row.home-hero-row
          .col.s12.m6
            h3 Самая простая система для управления бизнес-процессами
            h5 Наладьте наконец в своей компании процессы! AirFlows поможет.
          .col.s12.m6
            +singleFlowIns
    
