div(class="page-container container" id="content")
  div(class="row" id="title_row")
    div(class="col-md-12")
      div(id="page_menu" class="pull-right")
        .row.home-hero-row
          .col.s12.m6
            h3 Самая простая система для управления бизнес-процессами
            h5 Наладьте наконец в своей компании процессы! А AirFlows в этом вам поможет.
          .col.s12.m6
            +singleFlowIns
        .row
          .col.s12.center-align
            h2 Как это работает
        .row
          .col.s12
            h5 1/2: Рисуете процесс ...
        .row
          .col.s12.center-align
            img.land-hero-flow(src="/images/hero-flow.png")
        .row
          .col.s12
            h5 2/2: ... и сотрудники работают по нему!
        .row
          .col.s12.center-align
            img.land-hero-execute(src="/images/hero-execute.png")
        .section
          .row
            .col.s12.center-align
              h2 Что вы получаете
          .row
            .col.s6.m4.center-align.benefit-col
              img.land_icon(src="/images/goal5.png")
              h5 Эффективность
              p Отсутствие лишних неэффективных шагов, четкое выполнение каждого процесса в компании в соответствии с лучшими практиками
            .col.s6.m4.center-align.benefit-col
              img.land_icon(src="/images/client2.png")
              h5 Выполнение ожиданий клиентов
              p Клиент всегда получит самый качественный сервис - в не зависимости от того, с каким сотрудником он контактирует
            .col.s6.m4.center-align.benefit-col
              img.land_icon(src="/images/magnifying57.png")
              h5 Прозрачность
              p Вы всегда видите кто и когда выполнял какой процесс, сколько времени было затрачено
            .col.s6.m4.center-align.benefit-col
              img.land_icon(src="/images/notebook87.png")
              h5 Отсутствие "пожаров"
              p Наконец вы можете пустить энергию сотрудников с решения пожаров (которые обычно одни и те же) на то, что принесет пользу клиентам
            .col.s6.m4.center-align.benefit-col
              img.land_icon(src="/images/space-ship2.png")
              h5 Развитие бизнеса
              p Поскольку вся работа идет по процессам и их легко изменять, остатется время для самого важного - развития
            .col.s6.m4.center-align.benefit-col
              img.land_icon(src="/images/hinduism3.png")
              h5 Спокойствие
              p Важные шаги не будут забыты или пропущены. Поэтому вы можете заняться тем, что действительно важно
        .row
          .col.s12.center-align
            h2 Возможности
        .row
          .col.s12.m6
            h5.land_feature_name Не требует инсталляции
            p.land_feature_desc AirFlows работает в браузере. И рисование процессов, и их исполнение. Поэтому начало работы максимально упрощено.
          .col.s12.m6
            h5.land_feature_name Работает на любых устройствах
            p.land_feature_desc Интерфейс оптимизирован для работы на мобильных устройствах, а также на обычных компьютерах. Вы можете работать из любого места.
          .col.s12.m6
            h5.land_feature_name Поддержка нескольких ролей
            p.land_feature_desc Процесс может охватывать несколько ролей, что позволяет легко организовать работу в команде
          .col.s12.m6
            h5.land_feature_name Специально оптимизированы для повторяющихся процессов
            p.land_feature_desc Даже если ваш процесс длится не более пяти минут (например, телефонный звонок), то вы все равно можете использовать AirFlows - интерфейс настолько быстр, что совершенно не замедляет работу.
        .row
          .col.s12.center-align
            h2 Стоимость
        .row
          .col.s4.offset-s4.center-align
            .land_price_wrapper.land_dark_section
              p 
                span.land_price_span 199р 
                span.land_pricing_text за сотрудника в месяц
              p.land_pricing_text 30 дней бесплатно
              p.land_pricing_text Неограниченное количество процессов
              p.land_pricing_text Интуитивный интерфейс рисования процессов
              p.land_pricing_text Работа на любых устройствах
              p.land_pricing_text Поддержка нескольких ролей
              p.land_pricing_text Оптимизированы для повторяющихся задач
              a#land_try_button.btn.waves-effect.waves-light.deep-orange(href="{{pathFor 'register'}}") Попробовать бесплатно
                
