#content.page-container.container
  #title_row.row
    .col-md-12
      #page_menu.pull-right
  .row
    each this
      .col.s12.m6.l4
        .row
          .col.s12.center-align
            h5 {{name}}
        ul.collapsible.popout(data-collapsible="accordion")
          each flows
            li
              +executeSingleFlow
          li
            .collapsible-header
              i.medium.mdi-action-note-add
              p Создать процесс
            .collapsible-body
              +executeAddNewFlow
          // удаление группы
          if hasNoFlows
            li
              .collapsible-header
                i.medium.mdi-action-highlight-remove
                p Удалить группу
              .collapsible-body
                .row.collapsible-content.center-align
                  .col.s12
                    a#delete-flow-group.btn.waves-effect.waves-light.deep-orange.accent-3 Удалить
    // добавление новой группы
    .col.s12.m6.l4.clearfix
      .row
        .input-field.col.s12
          input.validate(id="newFlowGroupName" type="text")
          label(for="newFlowGroupName") Название новой группы
      .row
        .col.s12.center-align
          a#add-new-flow-group.btn.waves-effect.waves-light.deep-orange.accent-3 Добавить группу
