.collapsible-header
  p #{prettyName}
.collapsible-body
  .collapsible-content
    h5 #{prettyName}
    p #{description}
    .data-entry
      each dataFields
        .row
          .input-field.col.s12
            input.validate.enter-data-field(type="text" data-field-name="{{name}}")
            label(for="enter-data-field") {{name}}
    .flow-buttons
      a#run-flow.btn.waves-effect.waves-light.deep-orange.accent-3
        div Запуск
      a#edit-flow-button.btn.waves-effect.waves-light.teal.darken-1.right
        div Изм.
