#content.page-container.container
  #title_row.row
    .col-md-12
      #page_menu.pull-right
  .row
    each this
      .col.s4
        p {{name}}
        ul.collapsible.popout(data-collapsible="accordion")
          each flows
            li
              +executeSingleFlow
          li
            .collapsible-header
              i.medium.mdi-action-note-add
              p Создать процесс
            .collapsible-body
              .row.collapsible-content
                .input-field.col.s12
                  input.validate(id="newFlowName" type="text")
                  label(for="newFlowName") Название
                .input-field.col.s12
                  textarea.materialize-textarea(id="textarea_desc")
                  label(for="textarea_desc") Описание
              .row.center-align
                .col.s12
                  a#add-new-flow.btn.waves-effect.waves-light.deep-orange.accent-3 Создать
