.collapsible-header
  p #{prettyName}
.collapsible-body
  .collapsible-content
    p #{description}
    .data-entry
      each dataFields
        .row
          .input-field.col.s12
            input.validate.enter-data-field(type="text" data-field-name="{{name}}")
            label(for="enter-data-field") {{name}}
    .flow-buttons
      .row
        .col.s12.center-align
          a#run-flow.btn.waves-effect.waves-light.deep-orange.accent-3
            div Запуск
      .row
        .col.s12.center-align
          a#edit-flow-button.btn.waves-effect.waves-light.teal.darken-1
            div Изменить
      .row
        .col.s12.center-align
          a#delete-flow-button.btn.waves-effect.waves-light.teal.darken-1
            div Удалить
